.audio {
  display: flex;
  flex-direction: column;
}

.audio > * {
  margin-bottom: 0.5rem;
}

.header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.title {
  margin-right: 0.5rem;
}

.author {
  font-size: smaller;
  margin-right: auto;
}

.controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.25rem;
}

.controls audio {
  flex-grow: 1;
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
}

.buttons {
  display: flex;
  margin: 0 auto 0.5rem;
  padding: 0 0.25rem;
}

.buttons button {
  width: 90px;
}

.respond {
  margin-right: 0.5rem;
}

.children {
  border-radius: 0.25rem;
  box-sizing: border-box;
  padding: 0.5rem 1rem 0;
  width: 100%;
}

.error {
  text-align: center;
}
