.audio-list {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.audio-list > * {
  margin-bottom: 1rem;
}

.audio-list > *:last-child {
  margin-bottom: 0;
}

.audios {
  width: 100%;
}

.audio {
  margin-bottom: 0.5rem;
}

.audio:last-child {
  margin-bottom: 0;
}