html,
head {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  border: none;
  border-radius: 0.25rem;
  color: white;
  padding: 0.5rem 1rem;
}

button.default {
  background-color: rgb(75, 75, 226);
}
button.default:active,
button.default:focus,
button.default:hover {
  background-color: rgb(47, 47, 141);
  cursor: pointer;
}

button.success {
  background-color: rgb(66, 153, 49);
}
button.success:active,
button.success:focus,
button.success:hover {
  background-color: rgb(78, 134, 67);
  cursor: pointer;
}

button.danger {
  background-color: rgb(196, 62, 62);
}
button.danger:active,
button.danger:focus,
button.danger:hover {
  background-color: rgb(160, 53, 53);
  cursor: pointer;
}

button:disabled {
  border: 1px solid grey;
  color: grey;
}

input {
  border: 1px solid grey;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

label {
  font-size: 0.8rem;
}

.error {
  color: rgb(196, 62, 62);
}

.main {
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

.copy h1 {
  margin-bottom: 1rem;
}

.copy h2 {
  margin: 0.5rem 0;
}

.copy p {
  margin-bottom: 0.25rem;
}

.copy ol {
  padding-left: 40px;
}
