.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.main > * {
  margin-bottom: 1rem;
}

.main > *:last-child {
  margin-bottom: 0;
}

.audios {
  width: 100%;
}

.audio__header {
  align-items: baseline;
  display: flex;
  margin-bottom: 0.5rem;
}

.audio {
  margin-bottom: 1rem;
}
