.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.recorder {
  margin-bottom: 1rem;
}

.audio {
  margin-bottom: 1rem;
}

.audio__header {
  align-items: baseline;
  display: flex;
  margin-bottom: 0.5rem;
}

.audio__title {
  margin-right: 0.5rem;
}

.audio__author {
  font-size: smaller;
  margin-right: auto
}
