.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
}

.title {
  margin-bottom: 1rem;
}

.recorder {
  margin-bottom: 1rem;
}

.audios {
  width: 100%;
}

.audio {
  margin-bottom: 1rem;
}
