.recorder {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recorder > * {
  margin-bottom: 0.5rem;
}

.recorder > *:last-child {
  margin-bottom: 0;
}

.controls {
  display: flex;
}

.controls > * {
  margin-right: 0.5rem;
}

.controls > *:last-child {
  margin-right: 0;
}

.volume {
  border: 1px solid grey;
  border-radius: 1rem;
  display: flex;
  height: 1rem;
  overflow: hidden;
  width: 200px;
}

.volume__marker {
  background-color: rgb(78, 134, 67);
}

.success {
  margin-top: 0.5rem;
}
